@import "project.scss";
@import "smart-grid/smart-grid.scss";

// body {
//     background: $color_black;
// }

// @include reset();

.wrapper {
  @include wrapper();
}

.debug{
    @include debug(rgba(0, 0, 0, 0.1), 1px #ff0 solid);
}

//////////////////////////////////////////////////////
// STYLES FOR TOGAS-COUTURE-V3 //////////////////////

html, body, header, {
        height: 100%;
    }

.header {
  background: url(../img/img-togas-lp/02-header.jpg) no-repeat center top;
  background-size: cover;
  color: #fff;
}

.container {
  @include wrapper();
}

.row {
  @include row-flex();
}


.justify-content-center {
  justify-content: center;
}

.logo {
  @include col();
  @include size(6);
  @include size-lg(7);
  @include size-md(8);
  @include size-sm(12);
}

.sublogo {
  // @include col();
  // @include size-sm(1);
  // background-color: $fff;
}

.offer {
  margin-top: 200px;
  text-align: center;

  &__title {
    font-size: 52px;
    font-weight: 300;
    color: #fff;

    @include sm(font-size, 40px);
    @include xs(font-size, 25px)
  }
}

.offer__form {

  display: flex;
  margin-top: 24px;

  @include xs(flex-direction, column);


  & input {
    background: #fff;
    border: 0;
    width: 328px;
    display: block;
    padding-left: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;

    @include xs(width, auto);
  }
  & button {
    background: #fd4f32;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    width: 124px;
    padding: 10px 0;
    cursor: pointer;
    display: block;
    border: none;

    @include xs(width, auto);
  }
}

// third-col
.third-col {
  @include col();
  @include size(4);
  @include size-lg(12);
  @include size-md(12);


}

.first {
 background: #fff;
 display: block;
 color: #000;
 // height: 20px;
 // width: 50px; 
}

.second {
 display: block;
 color: #000;
}

.third {
 background: #fff;
 display: block;
 color: #000;
 // height: 20px;
 // width: 50px;
}

.col-gap {
  @include col();
  @include size(12);
}



